<style>
  h1 {
    text-align: center;
  }
</style>
<h1>New appointment</h1><br>

<%= render "form", appointment: @appointment %>
<h1><%= link_to 'See today´s appointments', appointments_path, class: 'btn btn-primary' %></h1>
<br>
